
<!DOCTYPE html>

<html>

    <head>
        <link rel="stylesheet" href="/css/styles.css">
        <script src="/js/app.js"></script>
    </head>

    <body>
        {{>header}}
        {{!-- <h1>{{title}}</h1> --}}
        <p1>{{helpText}}</p1>
    </body>
    <footer>
        {{>footer}}
    </footer>
</html>